<!DOCTYPE html>
<html lang="en">

<head>
	<script type="text/javascript" src="http://livejs.com/live.js"></script>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
{% include isso-comments.html %}
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a> -->
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
					<li class="active"><a href="{{ site.baseurl }}/screenshots.html">Screenshots</a></li>
					<li class="active"><a href="{{ site.baseurl }}/download.html">Download</a></li>
                    <!-- <li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Links</a></li> -->
                    <li class="active"><a href="{{ site.baseurl }}/archive.html">Archive</a></li>
                    <!-- <li class="active"><a href="{{ site.baseurl }}/about.html">About</a></li> -->
                    <li class="active"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
                    {% if site.gitlab != '' %}
                      <li class="active"><a href="https://gitlab.com/{{ site.gitlab }}">Gitlab</a></li>
                    {% endif %}
                    {% if site.github != '' %}
                      <li class="active"><a href="https://github.com/{{ site.github }}">Github</a></li>
                    {% endif %}
                </ul>
              </div>
        </div>
    </div>
</div>
