---
layout: default
---

<div class="well">
	<p> 
		The latest version of Giter can always be downloaded from <a href="https://gitlab.com/refaelsh/giter/-/jobs/artifacts/master/download?job=build_job">here</a>.
		<p>
			Please note that this is directly from the `master` branch. Giter is still in the early stages, although it is usable. Heck, I use it on a daily basis.
		</p>
		<p>
			I would say its somewhere between Alpha and Beta. No known bugs are currently known.
		</p>
	</p>
</div>
